*{
    margin: 0px;
    padding: 0px;
}
.f-headline-txt{
    color: rgb(40, 6, 6);
    font-weight: bold;
    padding-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1.5px solid rgba(18, 7, 7, 0.26)
 
} 
.f-headline-txt p{
   color: wheat;
}
.f-cont-txt-style{
    color: rgb(39, 29, 29);
  
    letter-spacing: 0.1px;
    word-wrap: none;
    line-height: normal;
    overflow: hidden;
    font-weight: 400;
  
}
.f-icon-div{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    padding: 5px 5px;
}
.f-link{
  line-height: normal;
  font-weight: bold;
    border-bottom: 0.5px solid rgba(72, 67, 67, 0.253);
    
}
.f-link i{
    color: rgb(50, 29, 29);
    
}
.f-link a{
    color: rgba(51, 23, 23, 0.753);
    text-decoration: none;
    
    
}
.footer-text{
    color: black;
}
